.squareContainer {
  min-height: 300px;
  padding: 20px;

  position: relative;

  display: flex;
  align-items: center;
  gap: 100px;
}

@keyframes move {
  0% {
    top: 0px;
    left: 0px;
  }
  50% {
    top: 300px;
  }
  100% {
    top: 0px;
    left: 0px;
  }
}

#movingSquare {
  position: absolute;
  top: 0px;
  left: 0px;
  animation: move 5s infinite;
}

.square {
  position: absolute;
  left: 200px;
  height: 20px;
  width: 20px;

  background-color: #000000;
  color: #ffffff;

  text-align: center;
}

.circle {
  position: absolute;
  border-radius: 100%;
  width: 10px;
  height: 10px;
  background-color: aqua;
}

button {
  background-color: #000000;
  color: #ffffff;
  min-height: 50px;
  cursor: pointer;
}

.isDisabled {
  background-color: #676767;
  cursor: default;
}
